h3 {
    text-transform: uppercase;
}
p {
    text-align: right;
    font-family: Arial;
}
body {
    background-image: url("Images/LawyerBackgroundImage.jpeg");
}
a {
    font-size: 16px;
    font-style: italic;
}
header {
    border-style: solid;
    background-color:#FFF5EE;
}
main {
    background-color: #FFF5EE;
    height: 80%;
    width: 70%;
    min-height: 600px;
    margin:15px;
    padding:10px;
}
footer {
    background-color: #FFF5EE;
    margin:50px;
    padding:10px;
}
.job-title {
    font-weight: bold;
    color:maroon;
}
.large-list {
    font-size: 25px;
    font-weight: bold;
}
ol > ul {
    font-size: 18px;
    font-weight: normal;
}
img {
    height: 200px;
    width: 200px;
    border: 5px;
    transition: 1s;
}
img:hover {
    width: 400px;
    height: 400px;
}
